@import "tailwindcss";

:root {
  --brand: #edf4fe;
  --background: #edf4fe;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #edf4fe;
    --foreground: #ffffff;
  }
}

html,
body {
  background-color: var(--background) !important;
  color: var(--foreground);
  min-height: 100%;
}
